<!DOCTYPE html>
<html lang="en">
<head>
  <title>Monitoring of Online Fake Reviews through Machine learning</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="stylesheet" href="static/css/bootstrap.css">
  <link rel="stylesheet" href="static/css/custom.css">
  <link rel="stylesheet" href="static/font-awesome-4.7.0/css/font-awesome.min.css">

  <script src="static/js/jquery-1.12.0.js"></script>
  <script src="static/js/bootstrap.js"></script>
  <script src="static/js/main.js"></script>
</head>
<body>
<div class="wrapper">

  <nav class="navbar navbar-default navbar-fixed-top" id="menu">
    <div class="container nopadding">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
                <li class="active">
                  <a href="{{url_for('login')}}">
                    <i class="fa fa-key" aria-hidden="true"></i>
                    ADMIN</a>
                </li>

              </ul>
        </div>
    </div>
  </nav>

<div class="container-fluid">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">

          <img src="static/img/corniche1.jpg" alt="Image">
        </div>




          </div>

</div>
</div>
  <div class="container text-center">
    <h3>Monitoring of Online Fake Reviews through Machine learning</h3><br>
    <h4 class="text-color">ABSTRACT</h4>

      <p>Online reviews have great impact on today’s business
and commerce. Decision making for purchase of online
products mostly depends on reviews given by the users. Hence,
opportunistic individuals or groups try to manipulate product
reviews for their own interests. This paper introduces some
semi-supervised and supervised text mining models to detect
fake online reviews as well as compares the efficiency of both
techniques on dataset containing product reviews.</p>


  </div>
  <footer class="container-fluid  text-center">
  <span>© FAKE PRODUCT REVIEWS.ALL RIGHTS RESERVED</span>
  </footer>
</div>
</body>
</html>
