<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Monitoring of Online Fake Reviews through Machine learning</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
 <div class="login">
	<h1>Monitoring of Online Fake Reviews through Machine learning</h1>
	 <h1 class="cover-heading" ></h1>


     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method=['POST']>
    	<textarea type="text" class="form-control  text-white" name="news" id="news" placeholder="Please enter the review" size="50" cols="50"></textarea><br><br>

        <button type="submit" class="btn btn-primary btn-block btn-large">PREDICT</button></a>
    </form>

    <h2>If review is 0 ... It is Fake , If review is 1 ... It is Genuine</h2>


    {{ prediction_text }}

 <br>
 <br>


    <a href="{{url_for('chart')}}"> <button type="submit" class="btn btn-primary btn-block btn-large">ANALYSIS</button></a>

 </div>


</body>
</html>
